/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #1a3d6e;
  --vp-c-brand-light: #4e7ab7;
  --vp-c-brand-lighter: #6a8ab7;
  --vp-c-brand-lightest: #7da4db;
  --vp-c-brand-dark: #233753;
  --vp-c-brand-darker: #082348;
  --vp-c-accent-green: #61931e;
  --vp-c-accent-green-lighter: #78af03;
  --vp-c-accent-green-darker: #497638;
  --vp-c-accent-yellow: #f2c300;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

.vp-doc a {
  color: var(--vp-c-brand-lighter) !important;
}

.VPSidebarItem.level-1.is-active > .item .link > .text {
  color: var(--vp-c-accent-green) !important;
}

.icon {
  background-color: transparent !important;
}

.dark {
  --vp-c-brand: #4e7ab7;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

#app + .is-home {
  /*width: 100%;*/
  /*height: 100%;*/
  /*transform: rotate(0deg);*/
  /*transform-origin: 0 0;*/
  /*background: radial-gradient(84.71% 59.83% at 0% 90%, rgba(54, 87, 132, 0.74) 5.73%, rgba(54, 87, 132, 0.00) 100%);*/
  /*background-color: red;*/
}
footer {
  background-color: transparent !important;
  border-top: 1px solid var(--vp-c-brand-lighter) !important;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: #78af03;
  /*--vp-home-hero-name-background: #78af03;*/

  /*--vp-home-hero-image-background-image: linear-gradient(*/
  /*  -45deg,*/
  /*  #78af03 50%,*/
  /*  #78af03 50%*/
  /*);*/
  /*--vp-home-hero-image-filter: blur(40px);*/
}

@media (min-width: 20px) {
  .image > .image-container > .image-src {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
  .image > .image-container > .image-src {
    max-width: 80%;
    width: 100%;
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}
